<h2>Popular Movies</h2>
<div class="row">
    <div class="col-lg-2" *ngFor="let movie of popularMovies">
        <app-movie [movie]="movie"></app-movie>
    </div>
</div>

<h2>Theatre Movies</h2>
<div class="row">
    <div class="col-lg-2" *ngFor="let movie of inTheatreMovies">
        <app-movie [movie]="movie"></app-movie>
    </div>
</div>

<h2>Popular Kids Movies</h2>
<div class="row">
    <div class="col-lg-2" *ngFor="let movie of popularKidsMovies">
        <app-movie [movie]="movie"></app-movie>
    </div>
</div>

<h2>Best Drama Movies</h2>
<div class="row">
    <div class="col-lg-2" *ngFor="let movie of bestDramaMovies">
        <app-movie [movie]="movie"></app-movie>
    </div>
</div>